In [12]:
import pandas as pd
import numpy as np
import warnings as wn

In [13]:
tiburones = pd.read_csv('attacks.csv', encoding = 'ISO-8859-1')

In [14]:
tiburones #Se revisa el contenido de la tabla, para hallar inconsistencias en los datos.

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
tiburones.shape #ConfiguraciÃ³n (dimensiones) del dataframe.

(25723, 24)

In [16]:
tiburones.columns #Columnas del dataframe.

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [17]:
tiburones.isnull().sum() #Total de nulos en cada columna.

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [18]:
(tiburones.isnull().sum()/len(tiburones))*100 #Porcentaje de nulos por columna.

Case Number               66.170353
Date                      75.500525
Year                      75.508300
Type                      75.516075
Country                   75.694903
Area                      77.269370
Location                  77.599813
Activity                  77.615364
Name                      76.316915
Sex                       77.697003
Age                       86.506240
Injury                    75.609377
Fatal (Y/N)               77.595926
Time                      88.539439
Species                   86.533453
Investigator or Source    75.566614
pdf                       75.500525
href formula              75.504412
href                      75.500525
Case Number.1             75.500525
Case Number.2             75.500525
original order            75.473312
Unnamed: 22               99.996112
Unnamed: 23               99.992225
dtype: float64

In [31]:
#Filtrado de valores nulos.
tiburones_2 = tiburones.T
indices_nulos = []
for x in tiburones.index:
    if tiburones_2[x].isnull().all():
        indices_nulos.append(x)
indices_nulos

[8702]

In [32]:
tiburones[tiburones['Case Number']=='0'] #VisualizaciÃ³n de los casos etiquetados con 0.

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Dado que los casos 0 no contienen informaciÃ³n relevante, se procede a su eliminaciÃ³n.
indices_a_borrar = tiburones[tiburones['Case Number']=='0'].index
tiburones.drop(indices_a_borrar, inplace = True)
tiburones

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Los registros con valores nulos en la columna 'Fatal (Y/N)' no ofrecen informaciÃ³n
#importante, y debido a esto es necesario borrarlos.
indices_a_borrar = tiburones[tiburones['Fatal (Y/N)'].isnull()].index
tiburones.drop(indices_a_borrar, inplace = True)
tiburones

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [36]:
#Se revisa la manera en la que estÃ¡ contenida la informaciÃ³n en el campo 'Fatal (Y/N)'.
tiburones['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
2017          1
M             1
N             1
Name: Fatal (Y/N), dtype: int64

In [37]:
#Se corrigen los datos de la columna 'Fatal (Y/N)'.
tiburones['Fatal (Y/N)'] = tiburones['Fatal (Y/N)'].replace(' N|N ','N',regex=True)
tiburones['Fatal (Y/N)'] = tiburones['Fatal (Y/N)'].replace('M|2017','UNKNOWN',regex=True)
tiburones['Fatal (Y/N)'] = tiburones['Fatal (Y/N)'].replace('y','Y',regex=True)
tiburones['Fatal (Y/N)'].value_counts()

N          4301
Y          1389
UNKNOWN      73
Name: Fatal (Y/N), dtype: int64

In [39]:
#Se eliminan los nulos de la columna 'Location'.
tiburones['Location'] = tiburones['Location'].fillna('Unknown')
tiburones.Location.value_counts()

Unknown                                         483
New Smyrna Beach, Volusia County                160
Daytona Beach, Volusia County                    30
Ponce Inlet, Volusia County                      20
Melbourne Beach, Brevard County                  17
                                               ...
Wilson's Promontory, Waratah Bay                  1
Windang, near the entrance to Lake Illawarra      1
Oahu                                              1
Crewing on  the tuna clipper Mary Barbara         1
Derwent Island                                    1
Name: Location, Length: 3800, dtype: int64

In [41]:
#Se eliminan los nulos de la columna 'Area'.
tiburones['Area'] = tiburones['Area'].fillna('Unknown')
tiburones.Area.value_counts()

Florida                  971
New South Wales          438
Unknown                  404
Queensland               287
Hawaii                   264
                        ...
Amirante Islands           1
Georges Bank               1
Sandaun Province           1
Ho Ha Wan Marine Park      1
35Âº39 : 165Âº8'             1
Name: Area, Length: 772, dtype: int64

In [43]:
tiburones['Year'].value_counts()

2015.0    130
0.0       124
2017.0    123
2016.0    119
2011.0    118
         ...
1791.0      1
1836.0      1
1617.0      1
1811.0      1
500.0       1
Name: Year, Length: 242, dtype: int64

In [44]:
tiburones = tiburones.astype({'Year':'str'})
tiburones.dtypes

Case Number                object
Date                       object
Year                       object
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [46]:
tiburones.Year = tiburones.Year.apply(lambda x:x.replace('.0',''))
tiburones['Year'].value_counts()

2015    130
0       124
2017    123
2016    119
2011    118
       ...
1755      1
1797      1
1784      1
1786      1
1866      1
Name: Year, Length: 243, dtype: int64

In [47]:
tiburones['Activity'] = tiburones['Activity'].fillna('Swimming')
tiburones['Activity'].value_counts()

Swimming                                       1199
Surfing                                         933
Fishing                                         412
Spearfishing                                    309
Bathing                                         149
                                               ...
Adrift on a 4'  raft for 32 days                  1
Fishing, shark caught in his net                  1
Windsurfing, but sitting on his board             1
boat from ship Josephine capsized in squall       1
Swimming a quarter mile offshore                  1
Name: Activity, Length: 1420, dtype: int64

In [48]:
tiburones['Species '].value_counts()

White shark                              161
Tiger shark                               73
Bull shark                                51
6' shark                                  40
4' shark                                  40
                                        ...
3 m to 4.5 m [10' to 15'] white shark      1
6' to 8' bull shark                        1
Wobbegong shark, 5'                        1
Said to be 6.4 m [21'] shark               1
white shark                                1
Name: Species , Length: 1498, dtype: int64

In [49]:
tiburones = tiburones.astype({'Species ':'str'})
tiburones['Species '] = tiburones['Species '].apply(lambda x:x.lower().strip())
tiburones['Species '].apply(lambda x: ''.join([y for y in x if y.isalpha()]).replace('shark','')).value_counts()

nan                         2815
m                            351
                             242
white                        194
whitem                       119
                            ...
possiblyatiger                 1
whiptailthresher               1
tohammerheadorbonnethed        1
reportedtoinvolveamwhite       1
possiblywhites                 1
Name: Species , Length: 689, dtype: int64

In [50]:
tiburones['Species '] = tiburones['Species '].replace('(\W|^)White\s{0,3}shark(\W|$)','White',regex=True)
tiburones['Species '].value_counts()

nan                                          2815
white shark                                   163
tiger shark                                    74
bull shark                                     54
4' shark                                       40
                                             ...
whaler shark, 4 m [13']                         1
4.7 m [15.5'] shark                             1
possibily a  1.5 to 2 m sandtiger shark         1
grey nurse shark, 1m                            1
said to involve an oceanic whitetip shark       1
Name: Species , Length: 1403, dtype: int64

In [51]:
tiburones['Species '] = tiburones['Species '].replace('(\W|^)Tiger\s{0,3}shark(\W|$)|Tiger 3m','Tiger',regex=True)
tiburones['Species '].value_counts()

nan                                          2815
white shark                                   163
tiger shark                                    74
bull shark                                     54
4' shark                                       40
                                             ...
whaler shark, 4 m [13']                         1
4.7 m [15.5'] shark                             1
possibily a  1.5 to 2 m sandtiger shark         1
grey nurse shark, 1m                            1
said to involve an oceanic whitetip shark       1
Name: Species , Length: 1403, dtype: int64

In [52]:
tiburones['Species '] = tiburones['Species '].replace('(\W|^)Hammerhead\s{0,3}shark(\W|$)','Hammerhead',regex=True)
tiburones['Species '].value_counts()

nan                                          2815
white shark                                   163
tiger shark                                    74
bull shark                                     54
4' shark                                       40
                                             ...
whaler shark, 4 m [13']                         1
4.7 m [15.5'] shark                             1
possibily a  1.5 to 2 m sandtiger shark         1
grey nurse shark, 1m                            1
said to involve an oceanic whitetip shark       1
Name: Species , Length: 1403, dtype: int64

In [53]:
tiburones['Species '] = tiburones['Species '].replace('(\W|^)Blue\s{0,3}shark(\W|$)','Blue',regex=True)
tiburones['Species '].value_counts()

nan                                          2815
white shark                                   163
tiger shark                                    74
bull shark                                     54
4' shark                                       40
                                             ...
whaler shark, 4 m [13']                         1
4.7 m [15.5'] shark                             1
possibily a  1.5 to 2 m sandtiger shark         1
grey nurse shark, 1m                            1
said to involve an oceanic whitetip shark       1
Name: Species , Length: 1403, dtype: int64

In [54]:
tiburones['Species '] = tiburones['Species '].replace("Shark involvement prior to death was not confirmed|Invalid|Shark involvement not confirmed|Shark involvement prior to death unconfirmed|6' shark|4' shark|1.8 m [6'] shark|[4.5' to 5'] shark|>1.8 m [6'] shark|3 m to 4.3 m [10' to 14'] shark|3' to 3.5Unknown|Most likely, a small shark|1.5 m to 2 m shark|1.8 m [6'] shark",'Unknown',regex=True)
tiburones['Species '].value_counts()

nan                                                                        2815
white shark                                                                 163
Unknown                                                                      81
tiger shark                                                                  74
bull shark                                                                   54
                                                                           ...
5' thresher or blue shark. the shark  was killed following the incident       1
makUnknown, 400-lb                                                            1
2 m [6.75'] shark, 200-kg shark t                                             1
white shark, 6m                                                               1
8' great hammerhead shark                                                     1
Name: Species , Length: 1400, dtype: int64

In [55]:
tiburones['Species '] = tiburones['Species '].replace('(\W|^)Bull\s{0,3}shark(\W|$)','Bull',regex=True)
tiburones['Species '].value_counts()

nan                                                                        2815
white shark                                                                 163
Unknown                                                                      81
tiger shark                                                                  74
bull shark                                                                   54
                                                                           ...
5' thresher or blue shark. the shark  was killed following the incident       1
makUnknown, 400-lb                                                            1
2 m [6.75'] shark, 200-kg shark t                                             1
white shark, 6m                                                               1
8' great hammerhead shark                                                     1
Name: Species , Length: 1400, dtype: int64

In [56]:
tiburones

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,white shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,nan,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,...,nan,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,nan,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ÂºN, 79ÂºW",Swimming,Jules Patterson,M,...,nan,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,nan,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [58]:
tiburones['Date'] = tiburones['Date'].fillna('Unknown')
tiburones['Date'].value_counts()

1942                    9
1957                    9
1956                    8
1958                    7
1941                    7
                       ..
09-Jan-1991             1
1992                    1
Apr-1966                1
Reported 07-May-1957    1
03-Jun-2001             1
Name: Date, Length: 4985, dtype: int64

In [83]:
tiburones['Name'] = tiburones['Name'].fillna('Unknown')
tiburones['Name'].value_counts()

Unknown                        19635
male                             550
female                            97
boy                               23
2 males                           16
                               ...
Scott Dulmage                      1
Jamie Adlington                    1
Nigel Hughes                       1
William Strathorn                  1
Elena Hodgson & Isaac Ollis        1
Name: Name, Length: 5230, dtype: int64

In [59]:
tiburones['Injury'].value_counts()

FATAL                                                            782
Survived                                                          94
Foot bitten                                                       87
Leg bitten                                                        70
No injury                                                         59
                                                                ...
FATAL, right leg at hip, left leg and right forearm severed        1
Lacerations to both legs below the knees                           1
Bitten on right thigh & calf                                       1
Left arm severely bitten                                           1
Minor injury to sole of foot                                       1
Name: Injury, Length: 3341, dtype: int64

In [60]:
tiburones['Location'] = tiburones['Location'].fillna('Unknown')
tiburones['Location'].value_counts()

Unknown                                         483
New Smyrna Beach, Volusia County                160
Daytona Beach, Volusia County                    30
Ponce Inlet, Volusia County                      20
Melbourne Beach, Brevard County                  17
                                               ...
Wilson's Promontory, Waratah Bay                  1
Windang, near the entrance to Lake Illawarra      1
Oahu                                              1
Crewing on  the tuna clipper Mary Barbara         1
Derwent Island                                    1
Name: Location, Length: 3800, dtype: int64

In [61]:
tiburones['Species '] = tiburones['Species '].replace('Possibly a wobbegong','wobbegong',regex=True)
tiburones['Species '].value_counts()

nan                                                                        2815
white shark                                                                 163
Unknown                                                                      81
tiger shark                                                                  74
bull shark                                                                   54
                                                                           ...
5' thresher or blue shark. the shark  was killed following the incident       1
makUnknown, 400-lb                                                            1
2 m [6.75'] shark, 200-kg shark t                                             1
white shark, 6m                                                               1
8' great hammerhead shark                                                     1
Name: Species , Length: 1400, dtype: int64

In [62]:
tiburones

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,white shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,nan,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,...,nan,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,nan,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ÂºN, 79ÂºW",Swimming,Jules Patterson,M,...,nan,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,nan,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [64]:
tiburones.to_csv('attacks_result.csv', index=False)